*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*classi header*/
.logo{
    height: 50px;
    margin-top: 50px;
}

header{
    background-color: rgb(3, 119, 196);
    background-image: url(../img/pattern.png);
    background-size: 30%;
    height: 100px;
}
/*fine classi header*/

/*classi main*/
main{
    margin: 30px 10px;
}
/*inizio titolo*/
h1{
    font-size: 38px;
    line-height: 40px;
}
.autore{
    color: gray;
    font-size: 18px;
}
.data{
    color: gray;
    font size: 12px;
}
.nome-autore{
    color: blue;
    text text-decoration: none;
}
/*fine titolo*/
/*inizio sezione foto main*/
.foto{
    margin-top: 20px;
}
.didascalia{
    font-size: 13px;
}
/*fine sezione foto main*/
/*inizio sezione testo*/
.evidenza{
    background-color: yellow;
}
.testo{
    margin-top: 20px;
}
/*inizio lista*/
ul{
    margin: 30px 20px;
}
/*fine lista*/
/*inizio tabella*/
thead{
    background-color: rgb(0, 119, 255);
}
th{
    color: white;
    text-align: left;
    padding: 10px;
}
td{
    padding: 10px;
}
table{
    border: collapse;
    margin-bottom: 40px;
}
.testo{
    width: 50%;
}
.tabella-colorata{
    background-color: aqua;
}
/*fine tabella*/
/*fine sezione testo*/

/*fine classi main*/
